$background-light: #ffffff;
$background: #f2f2f2;
$background-dark: #c0c0c0;

$action-light: #47c1b3;
$action: #40a193;
$action-dark: #224b42;

$cancel-light: #980000;
$cancel: #860000;
$cancel-dark: #600000;

$text-light: #545454;
$text: #222222;
$text-dark: #000000;

html {
  background-color: $background;
}